@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  margin: 1.2em 1em;
  color: #612406;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
}

.card {
  color: #612406;
  width: 90%;
  height: 20%;
  display: flex;
  flex-direction: column;
  margin: 1em;
  background-color: #faf7e3;
  border-radius: 50px;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}

.card img {
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.text-card {
  line-height: 0;
  margin: 2em 1.5em 1em 1.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 1;
}

.content-text p:nth-child(2) {
  margin: 2em 1.2em;
}

.card button {
  width: 60%;
  background-color: #f3de85;
  border: none;
  color: #612406;
  font-weight: 600;
  padding: 1em;
  margin-bottom: 1.5em;
  border-radius: 20px;
}

@media screen and (min-width: 570px) and (max-width: 790px) {
  .content-all {
    display: flex;
    flex-direction: row;
  }

  .allcard {
    display: flex;
    flex-direction: row;
    width: 55%%;
  }
}
